{%extends '/admin/base_admin.html'%}
{%block content%}
<div class="row justify-content-center">
    <div class="col-sm-7">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center text-primary fw-bold">
                    New User
                </h3>
            </div>
            <div class="card-body">
                <form action="/admin/users/users-insert" method="post">
                    <div class="form-group pb-2">
                        <label for="txtName">Name:</label>
                        <input type="text" class="form-control" id="txtName" name="txtName"
                            placeholder="Enter name">
                    </div>
                    <div class="form-group pb-2">
                        <label for="txtLastname">Lastname:</label>
                        <input type="text" class="form-control" id="txtLastname" name="txtLastname"
                            placeholder="Enter lastname">
                    </div>
                    <div class="form-group pb-2">
                        <label for="txtEmail">Email:</label>
                        <input type="email" class="form-control" id="txtEmail" name="txtEmail"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group pb-2">
                        <label for="txtPassword">Password:</label>
                        <input type="password" class="form-control" id="txtPassword" name="txtPassword"
                            placeholder="Enter password">
                    </div>
                    <div class="form-group pb-2">
                        <label for="txtAddress">Address:</label>
                        <input type="text" class="form-control" id="txtAddress" name="txtAddress"
                            placeholder="Enter address">
                    </div>
                    <div class="form-group pb-2">
                        <label for="txtPhone">Phone:</label>
                        <input type="text" class="form-control" id="txtPhone" name="txtPhone"
                            placeholder="Enter phone">
                    </div>
                    <div class="form-group pb-2">
                        <label for="cmbTypes">Type user:</label>
                        <select name="cmbTypes" class="form-select">
                            <option value="N/A" selected disabled>Select an option</option>
                            {%for id, name in user_types%}
                            <option value="{{id}}">{{name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <button type="submit" class="btn btn-primary btn-block">Insert User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}