{% extends '/admin/base_admin.html' %}
{% block content %}
	<div class="row justify-content-center">
		<div class="col-sm-7">
			<div class="card">
				<div class="card-header">
					<h3 class="text-center text-primary fw-bold">Update Feedstock</h3>
				</div>
				<div class="card-body">
					<form action="/admin/feedstocks/feedstocks-update" method="post" enctype="multipart/form-data">
						<div class="form-group pb-2" hidden>
							<label for="txtId">Id:</label>
							<input type="text" class="form-control" id="txtId" name="txtId" placeholder="Enter name" value="{{form[0][0]}}"/>
						</div>
						<div class="form-group pb-2">
							<label for="txtName">Name:</label>
							<input type="text" class="form-control" id="txtName" name="txtName" placeholder="Enter name" value="{{form[0][1]}}" />
						</div>
						<div class="form-group pb-2">
							<label for="txtPrice">Price:</label>
							<input type="number" step="any" class="form-control" id="txtPrice" name="txtPrice" placeholder="Enter price" min="1" value="{{form[0][2]}}"/>
						</div>
						<div class="form-group pb-2">
							<label for="cmbProvider">Provider:</label>
							<select name="cmbProvider" class="form-select">
								<option value="N/A" selected disabled>Select an option</option>
								{% for id, name in providers %}
									<option value="{{ id }}">{{ name }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group pb-2">
							<label for="cmbMeasurement_unit">Measurement unit:</label>
							<select name="cmbMeasurement_unit" class="form-select">
								<option value="N/A" selected disabled>Select an option</option>
								{% for id, name in measurement_units %}
									<option value="{{ id }}">{{ name }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group pb-2">
							<label for="txtMinValue">Min value:</label>
							<input type="number" step="any" class="form-control" id="txtMinValue" name="txtMinValue" placeholder="Enter min value" min="1" value="{{form[0][4]}}"/>
						</div>
						<div class="form-group pb-2">
							<label for="txtMaxValue">Max value:</label>
							<input type="number" step="any" class="form-control" id="txtMaxValue" name="txtMaxValue" placeholder="Enter max value" min="1" value="{{form[0][5]}}"/>
						</div>
						<div class="form-group pb-2">
							<label for="txtQuantity">Quantity:</label>
							<input type="number" step="any" class="form-control" id="txtQuantity" name="txtQuantity" placeholder="Enter quantity" min="1" value="{{form[0][3]}}" />
						</div>
						<div class="form-group pb-2">
							<label>Description:</label>
							<textarea class="form-control" name="txtDescription" id="txtDescription" cols="90" rows="5" style="resize: none;">{{form[0][6]}}</textarea>
						</div>
						<div class="form-group text-center">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
							<button type="submit" class="btn btn-primary btn-block">Update Feedstock</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
