{% extends '/admin/base_admin.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12 text-end pe-5 pt-1 pb-1">
        <a href="{{url_for('purchase_orders.insert')}}" class="btn btn-primary"><i class="bi bi-plus-square"></i> Insert
            Purchase Order</a>
    </div>
</div>
<div class="row">
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#requested" type="button"
                role="tab" aria-controls="requested" aria-selected="true">Requested</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#onTheWay" type="button"
                role="tab" aria-controls="onTheWay" aria-selected="false">On the way</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="delivered-tab" data-bs-toggle="tab" data-bs-target="#delivered" type="button"
                role="tab" aria-controls="delivered" aria-selected="false">Delivered</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="canceled-tab" data-bs-toggle="tab" data-bs-target="#canceled" type="button"
                role="tab" aria-controls="canceled" aria-selected="false">Canceled</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active w-100" id="requested" role="tabpanel" aria-labelledby="requested-tab">
            <div class="table-responsive py-3">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Reference number</th>
                            <th>Nombre Proveedor</th>
                            <th>Telefono</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for id, reference_number, total, business_name, contact_phone in purchase_orders_requested%}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{reference_number}}</td>
                            <td>{{business_name}}</td>
                            <td>{{contact_phone}}</td>
                            <td>{{total}}</td>
                            <th>
                                <span>
                                    <a href="{{url_for('purchase_orders.see_order')}}?id={{id}}" type="button"
                                        class="btn btn-info rounded-circle p-2 lh-1 me-3">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                    <a href="{{url_for('purchase_orders.update')}}?id={{id}}" type="button"
                                        class="btn btn-success rounded-circle p-2 lh-1 me-3">
                                        <i class="bi bi-box-arrow-in-up-right"></i>
                                    </a>
                                    <a href="{{url_for('purchase_orders.delete')}}?id={{id}}" type="button"
                                        class="btn btn-danger rounded-circle p-2 lh-1 me-3">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </span>
                            </th>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade w-100" id="onTheWay" role="tabpanel" aria-labelledby="onTheWay-tab">
            <div class="table-responsive py-3">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Reference number</th>
                            <th>Nombre Proveedor</th>
                            <th>Telefono</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for id, reference_number, total, business_name, contact_phone in purchase_orders_on_the_way%}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{reference_number}}</td>
                            <td>{{business_name}}</td>
                            <td>{{contact_phone}}</td>
                            <td>{{total}}</td>
                            <th>
                                <span>
                                    <a href="{{url_for('purchase_orders.see_order')}}?id={{id}}" type="button"
                                        class="btn btn-info rounded-circle p-2 lh-1 me-3">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                    <a href="{{url_for('purchase_orders.update')}}?id={{id}}" type="button"
                                        class="btn btn-success rounded-circle p-2 lh-1 me-3">
                                        <i class="bi bi-box-arrow-in-up-right"></i>
                                    </a>
                                    <a href="{{url_for('purchase_orders.delete')}}?id={{id}}" type="button"
                                        class="btn btn-danger rounded-circle p-2 lh-1">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </span>
                            </th>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade w-100" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
            <div class="table-responsive py-3">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Reference number</th>
                            <th>Nombre Proveedor</th>
                            <th>Telefono</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for id, reference_number, total, business_name, contact_phone in purchase_orders_delivered%}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{reference_number}}</td>
                            <td>{{business_name}}</td>
                            <td>{{contact_phone}}</td>
                            <td>{{total}}</td>
                            <th>
                                <span>
                                    <a href="{{url_for('purchase_orders.see_order')}}?id={{id}}" type="button"
                                        class="btn btn-info rounded-circle p-2 lh-1">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </span>
                            </th>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade w-100" id="canceled" role="tabpanel" aria-labelledby="canceled-tab">
            <div class="table-responsive py-3">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Reference number</th>
                            <th>Nombre Proveedor</th>
                            <th>Telefono</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for id, reference_number, total, business_name, contact_phone in purchase_orders_canceled%}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{reference_number}}</td>
                            <td>{{business_name}}</td>
                            <td>{{contact_phone}}</td>
                            <td>{{total}}</td>
                            <th>
                                <span>
                                    <a href="{{url_for('purchase_orders.see_order')}}?id={{id}}" type="button"
                                        class="btn btn-info rounded-circle p-2 lh-1">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </span>
                            </th>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}