<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta Descriptions -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="En Luminary Lane ofrecemos una amplia variedad de vestidos elegantes para mujeres de todas las edades y tallas.">
	<meta name="keywords" content="vestidos, elegantes, tienda en línea, Luminary Lane">
	<meta name="author" content="Luminary Lane">

	<!-- Favicon -->
	<link rel="icon" href="../../static/assets/media/icon/favicon/favicon-32x32.png" type="image/x-icon">

	<title>Luminary Lane - Admin</title>

	<!-- Bootstrap CSS -->
	<link href="../../static/assets/css/styles.css" rel="stylesheet" />

	<!-- Sidebar CSS -->
	<link href="../../static/assets/css/layout.css" rel="stylesheet" />

	<!-- Boxicons CSS -->
	<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />

	<!-- Icons -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"
		integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	{%block head%}
	
	{%endblock%}
</head>

<body id="body-pd">
	<header class="header" id="header">
		<div class="header_toggle"> <i class="bx bx-menu" id="header-toggle"></i> </div>
	</header>

	<div class="l-navbar" id="nav-bar">
		<nav class="custom-nav">
			<div>
				<a href="#" class="nav_logo">
					<img src="../../static/assets/media/icon/logo_white_small.svg" class="p-0" width="20px" />
					<span class="nav_logo-name">Luminary Lane</span>
				</a>
				<div class="nav_list">
					<a href="{{ url_for('feedstocks.index') }}"
						class="nav_link {{ 'active' if 'feedstocks' in request.path else '' }}">
						<i class="bi bi-box-seam nav_icon"></i>
						<span class="nav_name">Feedstock</span>
					</a>
					<a href="{{url_for('products.index')}}"
						class="nav_link {{ 'active' if 'products' in request.path else '' }}">
						<i class="bi bi-tag nav_icon"></i>
						<span class="nav_name">Products</span>
					</a>
					<a href="{{ url_for('providers.index') }}"
						class="nav_link {{ 'active' if 'providers' in request.path else '' }}">
						<i class="bi bi-minecart nav_icon"></i>
						<span class="nav_name">Providers</span>
					</a>
					<a href="{{ url_for('purchase_orders.index') }}"
						class="nav_link {{ 'active' if 'purchase-orders' in request.path else '' }}">
						<i class="bi bi-cart4 nav_icon"></i>
						<span class="nav_name">Purchase Orders</span>
					</a>
					<a href="{{ url_for('recipes.index') }}"
						class="nav_link {{ 'active' if 'recipes' in request.path else '' }}">
						<i class="bi bi-receipt nav_icon"></i>
						<span class="nav_name">Recipes</span>
					</a>
					<a href="{{ url_for('sale_orders.index') }}"
						class="nav_link {{ 'active' if 'sale-orders' in request.path else '' }}">
						<i class="bi bi-bag nav_icon"></i>
						<span class="nav_name">Sale Orders</span>
					</a>
					<a href="{{ url_for('users.index') }}"
						class="nav_link {{ 'active' if 'users' in request.path else '' }}">
						<i class="bi bi-person-up nav_icon"></i>
						<span class="nav_name">Users</span>
					</a>
				</div>
			</div>
			<a href="{{url_for('auth.logout')}}" class="nav_link">
				<i class="bx bx-log-out nav_icon"></i>
				<span class="nav_name">Sign out</span>
			</a>
		</nav>
	</div>

	<div class="w-100 py-3">
		{% block content %}

		{% endblock %}
	</div>

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
	</script>

	<!-- Sidebar JS -->
	<script type="text/javascript" src="../../static/js/sidebar.js"></script>

	<!-- JQuery JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>