{%extends '/admin/base_admin.html'%}
{%block content%}
<div class="row">
    <div class="col-sm-12 text-end pe-5 pt-1 pb-1">
        <a href="{{url_for('products.insert')}}" class="btn btn-primary"><i class="bi bi-plus-square"></i> Insert Product</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Min Value</th>
                <th>Max Value</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for id, sku, name, price, size, quantity, min_value, max_value, photo in products%}
            <tr>
                <th>{{sku}}</th>
                <th>{{name}}</th>
                <th>{{price}}</th>
                <th>{{quantity}}</th>
                <th>{{min_value}}</th>
                <th>{{max_value}}</th>
                <th><img src="data:image/png;base64,{{photo}}" width="100"></th>
                <th>
                    <span>
                        <a href="{{url_for('products.update')}}?id={{id}}" type="button" class="pe-2">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{{url_for('products.delete')}}?id={{id}}" type="button">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </span>
                </th>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}