{%extends 'base.html'%}
{%block content%}
<div class="row justify-content-center py-5 overflow-x-hidden">
    <div class="col-lg-5">
        <div class="card bg-body-tertiary rounded-card border-0 shadow-sm">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="d-flex align-items-center justify-content-start pb-2">
                    <h1 class="display-6 text-primary">Contacto</h1>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification is-success">
                    <div class="w-100">
                        <div class="alert alert-success rounded-pill text-dark text-center" role="alert">
                            {{ messages[0] }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <form role="form" action="{{ url_for('main.contact') }}" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nombre Completo" type="name" required>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" placeholder="Correo Electrónico" type="email" required>
                    </div>
                    <div class="mb-3">
                        <input type="tel" class="form-control" placeholder="Teléfono (Opcional)">
                    </div>
                    <div class="mb-3">
                        <textarea type="tel" class="form-control" placeholder="Comentarios" required></textarea>
                    </div>
                    <div class="text-center pt-3 pb-1">
                        <button type="submit" class="btn btn-primary mx-auto">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}